
.background-color-teal-900 {
    background-color: #004D40 !important;
}

.background-color-teal-50 {
    background-color: #E0F2F1 !important;
}

.background-color-blue-900 {
    background-color: #263238 !important;
}

.background-color-gray-900 {
    background-color: #212121 !important;
}

.background-color-gray-800 {
    background-color: #424242 !important;
}
